body {
    padding: 0px;
    background-color: #80c266;
}

form {
       width: 250px;
       height: 200px;
       margin: 20px auto;
       padding: 20px;
       border: 1px solid #ccc;
       border-radius: 10px;
       text-align: center;
       background-color: #f9f9f9;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

#password {
    margin-top: 10px;
}

button {
    font-size: 100%;
    font-weight: bold;
    color: black;
    background-color: #50C878;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px;
    margin-top: 10%;
}

.btn-usergifts button {
    padding: 10px 24px; /* Some padding */
    column-gap: 10px;
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: fit-content;
    
}